/* 
.form-section
{
   
background: rgba(99, 30, 104, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(99, 30, 104, 0.81);;
} */

body
{
   background: linear-gradient(135deg, #667eea, #653792);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 100vh;
}

.wh
{
    color: rgb(228, 226, 236);
}

.glass-card {
  width: 240px;
  height: 360px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.special-btn
{
    color: #ea92ed;
    transition: color 0.3s ease;
}

.special-btn:hover
{
    color: #e8b5ea;
}

.inp
{
    background-color: #151260cc;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
}